@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html, body {
    background-color: var(--grey);
    scroll-behavior: smooth;
}

:root {
    --orange: #f36523;
    --blue: #213e9a;
    --grey: #dbdada;
    --black: #000000;
    --white: #ffffff;
    --root-width: 800px;
}

/* Logo company */

#logo {
    text-align: center;
    margin: 10px 0;
}

/*#logo img {
    width: 90%;
    max-width: 380px;
    margin: auto;
}*/

img.logo {
    height: 135px;
    border-radius: 5px;
}

/* Nav bar */

nav {
    position: relative;
    margin: 10px auto;
    padding: 10px 0px;
    background-color: var(--orange);
    border-radius: 5px;
    text-align: center;
    width: 90%;
    max-width: var(--root-width);
    font-size: 18px;
    height: 40px;
    max-height: auto;
}

#menu {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.menu-bar {
    background-color: var(--black);
    height: 5px;
    width: 30px;
    border-radius: 5px;
    margin: 2px 0px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 150px;
    margin: 0;
    background-color: var(--orange);
    border-radius: 5px;
    transition-duration: 200ms;
}

ul a {
    text-decoration: none;
    color: var(--black);
}

ul > li {
    height: 40px;
    display: grid;
    place-items: center;
}

ul a:hover {
    color: var(--white);
    transition-duration: 250ms;
    cursor: pointer;
}

/* Container */

.container {
    width: 90%;
    max-width: var(--root-width);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
}

.content {
    width: 90%;
    max-width: var(--root-width);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
}

/* About company */

#content-text {
    padding: 0 20px;
    text-align: center;
}

/* Slider photo */

.slider {
    width: 90%;
    margin: 20px auto;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    font-size: xx-large;
    color: var(--white);
}
.icon:hover {
    cursor: pointer;
}

/* Services */

#content-services {
    text-align: center;
    font-size: large;
}

ol {
    list-style-type: none;
    padding: 0;
}

/* Price */

table {
    text-align: center;
    margin: auto;
}

th {
    padding: 10px;
}

td {
    padding: 0 5px 5px 0;
    text-align: justify;
}

td.tabel-price {
    text-align: center;
}

/* Contact */

#content-contact {
    margin: 20px auto;
    text-justify: auto;
}

h1.contact {
    padding-bottom: 10px;
}

p.name {
    font-size: 20px;
}

/* Email message */

#contact-form {
    width: 90%;
    max-width: var(--root-width);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact-form p {
    font-size: x-large;
    margin: 3px 0px;
}
#contact-form input {
    font-size: large;
    width: 80%;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid var(--grey);
    margin: 3px 0px;
}
#contact-form textarea {
    border: 2px solid var(--grey);
    outline: none;
    resize: none;
    width: 80%;
    height: 75px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: large;

}
#contact-form button {
    width: 200px;
    padding: 5px 10px;
    margin: 3px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--grey);
    font-size: large;
    cursor: pointer;
    transition-duration: 200ms;
}
#contact-form button:hover {
    width: 220px;
}
.hide {
    display: none !important;
}
.show-flex {
    display: flex !important;
}

/* Footer */

footer {
    width: 100%;
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    height: 25px;
    margin: auto;
    padding: 25px 0;
}

/* Responsibility */

@media (max-width: 750px) {
    ul {
        flex-direction: column;
        padding: 0px;
        display: none;
    }
    .slider {
        height: 200px;
    }
    ul li {
        width: 100%;
    }
    #menu {
        display: flex;
    }
}